{% extends "base.html" %}
{% block title %} {{ project.name }} Project {% endblock %}

{% block breadcrumb %}
<li>{{ project.path_with_namespace }}</li>
{% endblock %}

{% block content %}
<table>
    <tr>
        <td style="vertical-align: top">
            <span class="references-list">
                <b>Recent Refs / Branches:</b>
                <p>
                    {% for ref in refs %}
                    <a href="?ref={{ ref }}" >{{ ref }}</a><br/>
                    {% endfor %}
                </p>
            </span>
        </td>
        <td style="vertical-align: top">
            <h3>Project Timeline: {{ project.name_with_namespace }}</h3>
            <i><a href="{{ project.web_url }}">{{ project.web_url }}</a></i>

            <p>
                <a class="btn btn-default btn-xs" href="?page={{ page + 1}}">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>

                {% if page > 1 %}
                    <a class="btn btn-default btn-xs" href="?page={{ page - 1}}">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                {% endif %}

                Longest pipeline was {{ (longest_duration / 60)|round }} minutes including delays.
            </p>
            <table class="table">
                <tr>
                    <th>Pipeline</th>
                    <th>Status</th>
                    <th align="right">Duration</th>
                    <th>Blocked vs Best (est) </th></tr>
            {% for pipeline in pipelines %}
                <tr>
                    <td>
                        <a href="/pipeline/{{ project.id }}/{{ pipeline.id}}">
                            #{{ pipeline.id }}
                        </a>&nbsp;
                        <a href="{{ pipeline.pipeline.web_url }}" target="_new">
                            <span class="glyphicon glyphicon-new-window"></span>
                        </a>
                    </td>
                    <td>{{ pipeline.pipeline.status }} </td>
                    <td align="right"> {{ (pipeline.since_created() / 60) |round|int }} mins </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Reference: {{ pipeline.pipeline.ref }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="progress" style="min-width: 4in">

                            <div class="progress-bar progress-bar-warning"
                                 role="progressbar"
                                 style="width:{{ 100 * pipeline.delayed() / longest_duration }}%">
                                <span>{{ (pipeline.delayed() / 60) |round|int }} mins </span>
                            </div>

                        {% if pipeline.pipeline.status == "running" %}
                            <div class="progress-bar progress-bar-info active progress-bar-striped"
                                 role="progressbar"
                                 style="width: {{ 100 * pipeline.since_started() / longest_duration }}%">
                                <span> {{ (pipeline.since_started() / 60) |round|int }} mins </span>
                            </div>
                        {% elif pipeline.pipeline.status == "success" %}
                            <div class="progress-bar progress-bar-success"
                                 role="progressbar"
                                 style="width: {{ 100 * pipeline.since_started() / longest_duration }}%">
                                <span> {{ (pipeline.since_started() / 60) |round|int }} mins </span>
                            </div>
                        {% else %}
                            <div class="progress-bar progress-bar-danger"
                                 role="progressbar"
                                 style="width:{{ 100 * pipeline.since_started() / longest_duration }}%">
                                <span> {{ (pipeline.since_started() / 60) |round|int }} mins </span>
                            </div>
                        {% endif %}
                        </div>
                    </td>
                    <td>
                        {% if pipeline.pipeline.status in ["success", "failed"] %}
                        <div class="progress" style="min-width: 3in">
                            <div class="progress-bar progress-bar-warning"
                                 role="progressbar"
                                 style="width:{{ 99.9 * pipeline.queue_overhead() / longest_duration }}%">
                                <span>{{ (pipeline.queue_overhead() / 60) |round|int }} mins </span>
                            </div>
                            <div class="progress-bar progress-bar-info"
                                 role="progressbar"
                                 style="width:{{ 99.9 * pipeline.best_possible_duration() / longest_duration }}%">
                                <span>{{ (pipeline.best_possible_duration() / 60) |round|int }} mins </span>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </table>
        </td>

        <td style="vertical-align: top">
            <h3>Most Delayed Jobs</h3>
            <table class="table table-condensed">
                <tr><th>Job</th><th>Total Delay (mins)</th></tr>
                {% for delay in delayed %}
                <tr>
                    <td>
                        {{ delay[0] }}
                    </td>
                    <td style="text-align: right">
                        {{ (delay[1]/60)|int }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endblock %}}