.container {
    width: 95%;
}

.references-list a {
    display: block;
    white-space: nowrap;
    width: 4.9cm;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 4px solid white;
    font-size: small;
}

h1, h2, h3, h4 {
    padding-top: 1px;
    margin-top: 2px;
}

.breadcrumb {
    margin-bottom: 4px;
}